.videoComponent{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  flex: 1
};

div.watermark[style] {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/werise-c999a.appspot.com/o/appImages%2FWeRise_Logo.png?alt=media&token=8c93514c-69b8-4dea-973e-159f66720dff') !important;
};

